[submodule "public/yaml-cpp"]
	path = public/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp

[submodule "public/glfw"]
	path = public/glfw
	url = https://github.com/glfw/glfw

[submodule "public/glm"]
	path = public/glm
	url = https://github.com/g-truc/glm

[submodule "public/imgui"]
	path = public/imgui
	url = https://github.com/ocornut/imgui
[submodule "public/wxWidgets"]
	path = public/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets
